// base colors
$night-white ?= #fff
$night-white-bis ?= #bfbdbd
$night-black ?= #000
$night-black-bis ?= #050a0e
$night-blue ?= #02d7f2
$night-dark-primary ?= #252D38
$night-dark-bg ?= #181C27
$night-dark-label ?= #485061
$night-primary ?= $night-white
$night-info ?= $night-blue
$night-success ?= $night-green
$night-warning ?= $night-orange
$night-danger ?= $night-red
// invert colors
$night-orange-invert ?= #121617
$night-yellow-invert ?= #121617
$night-green-invert ?= #121617
$night-blue-invert ?= #121617
$night-purple-invert ?= #121617
$night-red-invert ?= #121617
$night-primary-invert ?= #121617
$night-info-invert ?= #121617
$night-success-invert ?= #121617
$night-warning-invert ?= #121617
$night-danger-invert ?= #121617
// derived colors
$night-scheme-main ?= $night-dark-bg
$night-link ?= $night-white-bis
$night-link-hover ?= $night-white
$night-text ?= $night-white-bis
$night-text-strong ?= $night-white
$night-body-background-color ?= $night-scheme-main
$night-input-color ?= $night-text
$night-input-placeholder-color ?= rgba($night-input-color, .8)
$night-footer-color ?= $night-white-bis
$night-footer-background-color ?= $night-dark-primary
$night-navbar-background-color ?= $night-dark-primary
$night-navbar-item-color ?= $night-white-bis
$night-navbar-item-active-color ?= $night-white
$night-navbar-item-hover-color ?= $night-white
$night-navbar-item-hover-background-color ?= transparent
$night-navbar-item-margin-v ?= 1.25rem
$night-navbar-item-margin-h ?= .25rem
$night-navbar-item-padding-v ?= 0
$night-navbar-item-padding-h ?= .5rem
$night-card-background-color ?= $night-dark-primary
$night-menu-label-color ?= $night-dark-label
$night-menu-item-hover-color ?= $night-white
$night-menu-item-hover-background-color ?= $night-dark-primary
$night-menu-list-border-left ?= 1px solid $night-text
$night-tag-color ?= $night-white
$night-tag-background-color ?= $night-dark-label
$night-timeline-fg-line ?= $night-white-bis
$night-timeline-bg-line ?= $night-body-background-color
$night-post-navigation-fg ?= $night-white-bis
$night-searchbox-bg-container ?= $night-dark-bg
$night-searchbox-border ?= $night-dark-primary
$night-searchbox-bg-input ?= $night-dark-bg
$night-searchbox-bg-close-hover ?= $night-white
$night-searchbox-bg-close-active ?= $night-searchbox-bg-close-hover
$night-searchbox-bg-result-item-hover ?= $night-dark-primary

@import 'style'

@media (prefers-color-scheme: dark)
    body
        background-color: $night-dark-bg
    .navbar
        background-color: $night-dark-primary
        .navbar-item
            color: $white
        .navbar-logo
            font-weight: bold
    .footer
        background-color: $night-dark-primary
        color: $night-white-bis
        .footer-logo
            color: $white
        a:hover
            color: $night-white-bis
    // main
    .card
        background-color: $night-dark-primary
        color: $night-white-bis
        article.article .article-more
            background-color: $night-white-bis
    .title
        color: $night-white-bis
    .content
        color: $night-white-bis
    .menu-list a
        color: $night-white-bis
    .tag:not(body)
        background-color: $night-dark-label
        color: $night-white-bis
        .is-grey-lightest
            background-color: $night-white-bis
    // .pagination 
    //     .pagination-previous, .pagination-list .pagination-link, .pagination-next
    //         background: $night-white

    // Plugins
    #back-to-top
        color: $night-white-bis
        background-color: $night-dark-label

    // Post Page
    article.article .content
        blockquote
            background-color: $night-dark-bg
        h1, h2, h3, h4, h5, h6
            color: $night-white-bis
            font-weight: bold
        code
            background-color: $night-dark-label
            padding: 0 5px
            margin: 0 2px
            border-radius: 2px
            border: none
            overflow hidden
        strong 
            color: $night-white
    
    .timeline .media:last-child:after
        background: transparent